body {
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(45deg, #1e5799 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
    background: -webkit-linear-gradient(45deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
    background: linear-gradient(45deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-user-select: none;
}

.cities {
    justify-content: center;
    display: flex;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin-bottom: -20px;  
    margin-top: 20px;
    
}

.city {
    padding-right: 15px;
}

.city:hover {
    color:rgb(214, 214, 214);
}

#main-icon {
    margin-left: -13%;
    margin-right: -1%;
    width: 15%;
}

.searchbar {
    margin-top: 35px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
}

#search {
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    background-color: rgba(209, 209, 209, 0.2);
    color: rgba(209, 209, 209, 0.8);
    padding: 5px;
    margin-top: 20px;
    height: 20px;
}

#search:hover {
    background-color: rgba(209, 209, 209, 0.5);
    color:white;
}

#search:focus {
    color:white;
    background-color: rgba(209, 209, 209, 0.5);
}

 .button{
    width: 60px;
    height: 34px;
    margin-top: 20px;
    border: 1px solid  rgb(224, 224, 224);
    background-color: rgba(209, 209, 209, 0.1);
    font-size: 14px;
    color: rgba(255, 255, 255);
    border-radius: 3px;
    margin-left: 3px;
    transition: 0.5s;
 }

 .button:hover {
    background-color:  rgba(141, 141, 141, 0.5);
    border: 1px solid  rgba(255, 255, 255, 0.7);
    transition: 0.5s;
 }

.searchbar input {
    font-size: 15px;
    width: 250px;
}

.nameFav {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex: 1 0 auto;
    color: white;
    font-weight: lighter;
    margin-bottom: 20px;
}

.fas{
    color: 	rgb(255, 251, 0);
    margin-top: 28px;
    margin-left: 17px;
    font-size: 15px;
    display: h
}

.far {
    margin-top: 28px;
    color: white;
    margin-left: 17px;
    font-size: 15px;
}

.hidden {
    display: none;
}

.far:hover {
    color: 	rgba(235, 235, 235, 0.8);
}

.fas:hover {
    color: 	rgba(255, 251, 0, 0.9);
}

h1 {
    font-size: 23px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

.degrees {
    margin-top: -80px;
    justify-content: center;
    display: flex;
    flex: 1 0 auto;
    color: white;
    font-weight: lighter;
    font-size: 63px;
}

.cf {   
    font-weight: lighter;
    margin-top: 55px;
    font-size: 20px;
    margin-left : 20px;
}

.cf > p {
    margin-bottom: -10px;
}

.weather {
    margin-top: -80px;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: -20px;
}

.additional, .sunPosition{
    justify-content: center;
    display: flex;
    font-weight: lighter;
    font-size: 12px;
    color: white;
    margin-bottom: -10px;
}

.additional p, .sunPosition p {
    padding-right: 18px;
    padding-bottom: -10px;
}

.parentContainer {
    margin: 40px;
    text-align: center;
}

.container {
    height: 150px;
    width: 120px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 2px;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    display: inline-block;
    transition: 0.5s;
}

.icon {
    display: block;
}

.container:hover {
    background-color:  rgba(141, 141, 141, 0.5);
    border: 1px solid  rgba(255, 255, 255, 0.7);
    transition: 0.5s;
}

.position {
    display: flex;
    color: white;
}

.day, .date, .dayHigh, .dayLow {
    margin-bottom: 10px;
    color: white;
    display: left;
}

.day, .date, .dayHigh, .dayLow, .boxWeather {
    padding-left: 10px;
    text-align: left;
}

.dayLow{
    color: rgb(214, 214, 214);
    font-size: 13px;
}

.boxWeather {
    text-align: left;
    margin-top: 10px;
    color: white;
    font-size: 13px;
}

#chart {
    width: 800px;
    height: 100px;
    margin-left: 200px;
    color: white;
}

.hammer {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.team {
    padding-top: 5px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

.team:hover {
    color:rgb(214, 214, 214);
}

#myChart {
    color: black
}

.charts {
    margin: 40px;
    text-align: center;
}

.day {
  pointer-events: none;
}

.icon {
    pointer-events: none;
}

.boxWeather {
    pointer-events: none;
}

.dayHigh {
    pointer-events: none;
}